
/*       top buttons       */

button#bold img.topbut {
    content: url("bold.svg");
}
button#italic img.topbut {
    content: url("italic.svg");
}
button#underline img.topbut {
    content: url("underline.svg");
}
button#superscript img.topbut {
    content: url("superscript.svg");
}
button#subscript img.topbut {
    content: url("subscript.svg");
}
button[title="Remove formatting (Command+R)"] img.topbut {
    content: url("remove_html.svg");
}

/* doesnt work */
div#forecolor {
    /* clip-path: url("highlighter.svg"); need to use the actual 
    path which is done below*/ 
    clip-path: path("M 0 479.98 L 99.92 512 L 35.45 -35.45 L -67.04 -67.04 z");
    border-radius: 2px !important;
    height: 11px !important;
    width: 11px !important;
    margin-left: 2px;
    margin-right: 2px;
}

span.blabel div.rainbow {
    content: url("eye_dropper.svg");
    background-image: none;
    display: none;
    border-radius: 0px;
    height: 11px !important;
}
html.night-mode span.blabel div.rainbow {
    content: url("eye_dropper_white.svg");
}
button[title="Cloze deletion (Command+Shift+C)"] img.topbut {
    content: url("cloze.svg");
}
button[title="Attach pictures/audio/video (F3)"] img.topbut {
    content: url("paperclip.svg");
}
button[title="Record audio (F5)"] img.topbut {
    content: url("record.svg");
}
button[onclick="pycmd('more');return false;"] img.topbut {
    content: url("more.svg");
}


button.linkb {
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Helvetica;
}
button.linkb img {
    height: 11px !important;
}
html.night-mode button.linkb {
    -webkit-appearance: none;
    background: #565656 !important;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: Helvetica;
    height: 21px;
    width: 18px;
}

/*       text       */

span.fieldname {
    font-size: 13px;
}

.field {
    border: 1px solid #d4d4d4;
    border-radius: 3px;
}
html.night-mode .field {
    border: 1px solid #646464;
    border-radius: 3px;
}


/*       shadow       */

.field {
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: inset 0px 2px 4px -2px rgba(0, 0, 0, 0.2);
}