/* CSS https://github.com/tonsky/FiraCode */
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);
/* Specify in CSS */
code { font-family: 'Fira Code', monospace; }

@supports (font-variation-settings: normal) {
  code { font-family: 'Fira Code VF', monospace; }
}

.card {
  font-family: Fira Code,  menlo;
	font-feature-settings: "ss02","ss04","ss06", "zero";
	font-size: 16px;
	text-align: center;
	color: black;
	background-color: white;
}


/* divider */
hr {
	border: none;
	border-top: 2px solid #CDCDCD;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* FOR TABLES  (search "not true? false" for example) */


.left_table {
	font-size: 16px;
	border: none;
	padding: 2px;
	border-collapse: collapse;
}
.left_table td{
	border: 1px solid #b8b8b8;
	padding: 3px;
	padding-left: 5px; 
	padding-right: 5px;
	text-align: left;
}


.centre_table {
	font-size: 16px;
	border: none;
	padding: 2px;
	border-collapse: collapse;
}
.centre_table td{
	border: 1px solid #b8b8b8;
	padding: 3px;
	padding-left: 5px; 
	padding-right: 5px;
	text-align: center;
}


/* ----------CODE SYNTAX STYLING BELOW---------- */

pre {
	border-radius: 3px;
	/* fix shell code block line spacing */
	line-height: 0px !important;
	background-color: black !important;
}

code {
	font-family: Fira Code,  menlo !important;
}

.shell {
	font-size: 10px !important;
}